body.theme-bitchin {
    background: linear-gradient(to bottom right, #353636 , #232A32 );
    background-image: url("../images/rsz_rsz_eleven.png");
}

#themes{
    float: right;  
}

#navbar.theme-bitchin{
    display:flex;
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    border: 2px solid #610e0b;
    border-bottom: 0;
    border-left:0;
    border-right:0;
    padding: 15px 85px 20px; 
}
#mainWrapper.theme-bitchin {
    background-color:  #faffff;
    
    color: rgb(15, 15, 15);
    text-shadow: 2px 5px 10px black;
    width: 750px;
    height: 380px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: initial;
    justify-content: center;
    border-radius: 40px;
}
 
#msgOutput{
    text-align: center;
    overflow: auto;
    height: -webkit-fill-available;
}

textarea{
    height: 65px;
    width:550px;
}

/*Buttons on Standard format*/

.edit-button {
    background-color: #D9E2DF;
    border-radius: 25px;
    color: black;
    
}

.edit-button:hover{
    opacity:.2;
}

.delete{
    background-color: #D9E2DF;
    border-radius: 25px; 
}

.delete:hover{
    opacity:.2;
}

.confirm{
    background-color: #D9E2DF;
    border-radius: 25px; 
}

.confirm:hover{
    opacity:.2;
}

#large.theme-dark {
  -webkit-appearance: none;
  width: 160px;
  height: 20px;
  margin: 10px 50px;
  background: linear-gradient(to right, rgb(0, 8, 6) 0%,rgb(1, 4, 8) 100%);
  background-size: 150px 10px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  zoom: 130%;
  margin: auto;
  margin-bottom: 30px;
}

input::-webkit-slider-thumb {
 -webkit-appearance: none;
 width: 20px;
 height: 20px;
 background: #d7d5f3;
 position: relative;
 z-index: 3;
}

input::-webkit-slider-thumb:after {
 content: " ";
 width: 160px;
 height: 10px;
 position: absolute;
 z-index: 1;
 right: 20px;
 top: 5px;
 background: #e9e9e9;
}