body.theme-dark {
    background: linear-gradient(to bottom right, #353636 , #232A32 );
}

#themes{
    float: right;  
}

#navbar{
    display:flex;
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    border: 2px solid #385054;
    border-bottom: 0;
    border-left:0;
    border-right:0;
    padding: 15px 85px 20px; 
}
#mainWrapper.theme-dark {
    background-color:  #0e0f0f;
    color: slategray;
    text-shadow: 2px 5px 10px black;
    width: 750px;
    height: 365px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: initial;
    justify-content: center;
    border-radius: 40px;
}
 
#msgOutput{
    text-align: center;
    overflow: auto;
    height: -webkit-fill-available;
}

textarea{
    height: 65px;
    width:550px;
}

/*Buttons on Standard format*/

.edit-button {
    background-color: #D9E2DF;
    border-radius: 25px;
    color: black;
    
}

.edit-button:hover{
    opacity:.2;
}

.delete{
    background-color: #D9E2DF;
    border-radius: 25px; 
}

.delete:hover{
    opacity:.2;
}

.confirm{
    background-color: #D9E2DF;
    border-radius: 25px; 
}

.confirm:hover{
    opacity:.2;
}